<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
            background-image: url("/images/bgimage12.jpg");
        }
        
        .top {
            color: #FFFFFF;
            display: flex;
            float: right;
            gap: 30px;
            background-color: #033249;
            font-size: x-large;
            height: 100px;
            padding-right: 15px;
            padding-left: 100%;
            margin: -8px;
            margin-bottom: 10px;
            align-items: center;
            padding-top: 11px;
            overflow-x: hidden;
        }
        
        .icon {
            float: left;
            padding-right: 800px;
            margin-top: -5px;
        }
        
        .firstpic {
            margin-top: -10px;
            background-image: url("/images/entertainment_1.webp");
            width: 100%;
            background-size: cover;
            height: 90vh;
            background-attachment: fixed;
        }
        
        .picture_5 {
            margin: 10px;
            border-radius: 2.5%;
            width: 46%;
        }
        
        .picture_6 {
            margin: 10px;
            border-radius: 2.5%;
            width: 43%;
            position: relative;
            left: 800px;
        }
        
        .picture_7 {
            margin: 10px;
            border-radius: 2.5%;
            width: 48%;
            position: relative;
            left: 650px;
            margin-bottom: 400px;
        }
        
        .text1 {
            text-align: center;
            margin-right: 15%;
            margin-left: 15%;
            font-size: x-large;
            color: gray;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        h1 {
            float: right;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-right: 200px;
        }
        
        h4 {
            float: left;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            bottom: 350px;
            margin-left: 300px;
            font-size: 30px;
        }
        
        h2 {
            margin-right: 200px;
        }
        
        h3 {
            text-align: center;
            font-size: 40px;
            color: cadetblue;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        .relsite1 {
            float: left;
            padding-top: 75px;
            color: brown;
        }
        
        .relsite {
            float: right;
            padding-top: 75px;
        }
        
        .para {
            float: right;
            position: relative;
            bottom: 330px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-right: 10px;
            right: 30px;
        }
        
        .para1 {
            float: left;
            position: relative;
            bottom: 400px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-right: 400px;
            margin-left: 20px;
            left: 35px;
        }
        
        .para3 {
            float: left;
            position: relative;
            bottom: 350px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-right: 400px;
            margin-left: 20px;
            left: 35px;
        }
        
        .para2 {
            float: right;
            position: relative;
            bottom: 330px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-left: 60px;
            position: relative;
            left: px
        }
        
        .extra_class {
            padding-left: 30px;
        }
        
        .wspc1 {
            position: relative;
            bottom: 400px;
            height: 0%;
            background-color: thistle;
        }
        
        .wspc2 {
            background-color: blueviolet;
            height: 0%;
        }
        
        .single {
            margin: 10px;
            border-radius: 2.5%;
            width: 46%;
            vertical-align: middle;
            float: right;
            position: relative;
            bottom: 300px;
            right: 750px;
        }
        
        .single1 {
            margin: 10px;
            border-radius: 2.5%;
            width: 46%;
            vertical-align: middle;
            float: right;
            position: relative;
            top: -250px;
            right: 750px;
        }
        
        .single2 {
            margin: 10px;
            border-radius: 2.5%;
            width: 46%;
            vertical-align: middle;
            float: right;
            position: relative;
            top: -250px;
            right: 750px;
        }
        
        .second {
            position: relative;
            top: -200px;
            left: 700px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-right: 30px;
            display: flex;
        }
        
        .second1 {
            position: relative;
            top: -150px;
            left: 700px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-right: 30px;
            display: flex;
        }
        
        .second2 {
            position: relative;
            top: -200px;
            left: 720px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-right: 30px;
            display: flex;
        }
        
        h5 {
            position: relative;
            font-size: 26px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            width: max-content;
            right: -400px;
            top: -12px;
        }
        
        h6 {
            position: relative;
            font-size: 26px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            width: max-content;
            left: 250px;
            bottom: 400px;
        }
        
        h8 {
            position: relative;
            font-size: 26px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            width: max-content;
            left: 950px;
            bottom: 200px;
        }
        
        h9 {
            position: relative;
            font-size: 26px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            width: max-content;
            left: 950px;
            bottom: 220px;
        }
        
        .third {
            position: relative;
            width: 45%;
            height: 50%;
            margin: 10px;
            border-radius: 2.5%;
            float: right;
            left: 675px;
        }
        
        .fourth {
            position: relative;
            bottom: 400px;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-left: 20px;
            margin-right: 10px;
        }
        
        body {
            background-color: #F5F5F5;
        }
        
        .footer {
            background-color: #467181;
            height: 300px;
            margin: -7px;
        }
        
        .foot1 {
            font-size: 20px;
            display: flex;
            gap: 12%;
            padding-left: 50px;
            margin-top: 205px;
            font-style: Redrose;
            width: 1380px
        }
        
        .foot2 {
            font-size: 18px;
            color: black;
            padding-left: 50px;
        }
        
        .foot3 {
            font-size: 18px;
            color: black;
            margin-left: 300px;
            top: -155px;
            position: relative;
            z-index: 1;
        }
        
        .foot4 {
            font-size: 18px;
            color: black;
            margin-left: 630px;
            top: -270px;
            position: relative;
            z-index: 2;
        }
        
        .foot5 {
            font-size: 18px;
            color: black;
            margin-left: 915px;
            top: -310px;
            position: relative;
            z-index: 3;
        }
        
        .foot6 {
            font-size: 18px;
            color: black;
            margin-left: 1250px;
            top: -425px;
            position: relative;
            z-index: 4;
        }
        
        .foot7 {
            margin-left: 1150px;
            top: -420px;
            position: relative;
            z-index: 5;
            display: flex;
        }
        
        .f0 {
            border-radius: 10px;
        }
        
        .f1 {
            border-radius: 10px;
        }
        
        .f2 {
            border-radius: 10px;
        }
        
        .f3 {
            border-radius: 10px;
        }
        
        .black {
            text-decoration: none;
            color: black;
        }
        
        .intro-text {
            opacity: 0;
            transform: translateY(20px);
            transition: 1s all ease-in-out;
        }
        
        .appear-text {
            opacity: 1;
            transform: translateY(0px);
        }
    </style>
</head>

<body>

    <div class="top">
        <div class="icon">
            <a href="/views/Home2.hbs"><img src="/images/icon.png" height="100px"></a>
        </div>
        <p>Explore</p>
        <p>Offers</p>
        <p>Accommodation</p>
        <p>MyAccount</p>

    </div>


    </div>
    <div>
        <div class=firstpic>

        </div>
        <h3><span class="auto-input"></span></h3>

        <p class="text1">While relaxing on the beaches and sipping in some freshly made cocktails might be some of the best things to do in Goa, this beachy paradise is not limited to this only. Even after being such a small destination, Goa holds too many entertainment
            options in its vicinity that not even a single second of your vacation can go by without having fun. </p>
    </div>
    <div>
        <div class="bg2">
            <img src="/images/entertainment_2.jpeg" width="20%" height="400px" class="picture_5">


            <h1>BUNGEE JUMPING</h1>
            <div class="para">

                <p1>To add a tinge of thrill to your trip Mayem lake in North Goa offers you an exciting<br> Bungee Jump experience. Here you will be leaped up from an altitude of 55 meters <br>above the edge of the lake which is higher than a 15 storeyed
                    building. All the <br>saftey measures will be taken in this ride with well trained guards. every night<br> at the beach.Bungee jumping , also spelled bungy jumping, is an activity that <br>involves a person jumping from a great height
                    while connected to a large elastic <br>cord. The launching pad is usually erected on a tall structure such as a build<br>ing or crane, a bridge across a deep ravine, or on a natural geographic feature <br>such as a cliff. It is also
                    possible to jump from a type of aircraft that has the <br>


                </p1>




            </div>
        </div>


    </div>
    <div>
        <img src="/images/entertainment-3.jpeg" class="picture_6">

        <h4>PARAGLIDING </h4>
        <div class="para3">


            <p1> The coastal village of North Goa, Anjuna, is a well-known tourist attraction mainly <br>for paragliding activity. Fly over the stunning landscape and witness a bird’s eye <br>view of the beautiful landscapes. Explore the shores of Goa in a
                unique way while<br> floating 1000 feet above the ground watching the world from above.Paragliding <br> is the recreational and competitive adventure sport of flying paragliders: lightweight,<br> free-flying, foot-launched glider aircraft
                with no rigid primary structure. <br>The pilot sits in a harness or lies supine in a cocoon-like 'speed bag' <br>suspended below a fabric wing.is the recreational and competitive adventure sport <br>of flying paragliders: lightweight,
                free-flying, foot-launched glider aircraft with <br>no rigid primary structure.The pilot sits in a harness or lies supine in a<br> cocoon-like 'speed bag' suspended below a fabric wing.



            </p1>

        </div>

    </div>



    <img src="/images/Entertainment_4.jpg" class="single">

    <h5>SCUBA DIVING</h5>
    <div class="second">

        <p1> Although Goa has a lot of places to go scuba diving, Grande Island, with its Sclear <br>water and stunning aquatic life, is one of the better places that leaves you with <br>amazing and colourful experience. All the adventurous souls out there
            who are <br>willing to go out of their comfort zone to experience the magnificence that the<br> world has to offer, scuba diving is for you. Scuba diving is mainly done for the <br>attraction of the unattainable undersea world. It is one area
            of nature that mankind <br>has not been able to fully control, we simply are not able to breathe underwater. <br> Hence, scuba diving gives us an opportunity to be in that underwater world, even if it<br> is just for a limited amount of time.</p1>

    </div>

    <img src="/images/entertainment_4.jpeg" class="third">
    <h6>FLY BOARDING</h6>
    <div class="fourth">
        <p1>This thriller activity is done in the beautiful Chapora River, which is considered<br> the famous destination for the Flyboarding in Goa. River Chapora’s water <br>is calm and Serene which is suitable for flyboarding activity. Your adrenaline
            <br>will come rushing as never before and you will feel the butterflies in your <br>stomach while you perform the superhero stunts which you have always seen or heard of.<br>Indulge in an extreme water sports in Goa & go as high as up to 30
            ft. in the air <br>while indulging in Flyboarding Fly like a superhero<br> & swim like a dolphin within the span of minutes with full thrust Witness the<br> serene views of the nature & enjoy the pristine views near Chapora river<br> An experienced
            instructor will brief & guide you before performing the activity<br>

        </p1>
    </div>
    <img src="/images/entertainment_5.jpg" class="single1">

    <h8><b>PARASAILING</b></h8>
    <div class="second1">

        <p1> Goa is known as the land of golden beaches and one of the best beaches in goa,<br> Calangute beach offers you an adventerous parasailing ride.The best thing about <br>parasailing is that you get to see the mesmerizing aerial views of the coastal
            <br>lines of Goa. Here you will be taken out by speedboat before taking to the skies <br>where you get some stunning views of the sun, sand and surf.<br>Parasailing, also known as parascending, paraskiing or parakiting, is a recreational <br>kiting
            activity where a person is towed behind a vehicle while attached<br> to a specially designed canopy wing that resembles a parachute, known <br>as a parasail wing. The manned kite's moving anchor may be a car, truck, or boat.<br>

        </p1>

    </div>
    <img src="images/entertainment_8.jpeg" class="third">
    <h6>HEADPHONE PARTY</h6>
    <div class="fourth">
        <p1>If you are a party goer and want to enjoy a party till early morning then <br>Palolem offers you a strange and unique partying experience, The headphone party. <br>Each party-goer has to get a pair of wireless headphones from the reception <br>that
            connects you to the music. Apart from not disturbing the neighborhood,<br> one also has personal volume control and DJ selection. It is one of the best things<br> for youngsters to experience in Goa.neighborhood, one also has personal volume<br>            control and DJ selection. It is one of the best things for youngsters to experience <br>in Goa.If you are a party goer and want to enjoy a party till early morning then <br>Palolem offers you a strange and unique partying experience,

        </p1>
    </div>
    <img src="/images/entertainment_10.webp" class="single2">

    <h9><b>DELTIN ROYALE</b></h9>
    <div class="second2">

        <p1> Asia's largest and most luxurious offshore casino. With over 50,000 sq.ft.<br> of gaming area and 1000 gaming positions, Deltin Royale promises you an <br>experience. Revel in live entertainment, unlimited drinks & unlimited buffet.<br>Asia's
            largest gaming and entertainment destination, Deltin Royale offers an <br>extraordinary gaming experience, live entertainment and buffet meals. Rated <br>as the Best Casino in India, Deltin Royale is a must-visit of every Goa trip! <br>Covering
            over 50,000 sq. ft. of area, Deltin Royale holds close to 1000<br> gaming positions and exquisite venues for a swanky soiree or an opulent <br>celebration.<br>
        </p1>

    </div>
    <div class="footer">
        <div class="foot1">
            <p>HOME</p>
            <p>TERMS & POLICY</p>
            <a href="abt.html" class="black">
                <p>ABOUT US</p>
            </a>
            <p>CONTACT US</p>
            <p>CONNECT WITH US</p>
        </div>
        <div class="foot2">
            <p>Beaches</p>
            <p>Entertainment</p>
            <p>Religious Sites</p>
            <p>Accommodation</p>
        </div>
        <div class="foot3">
            <p>Privacy Policy</p>
            <p>Cancellation Policy</p>
            <p>FAQ'S</p>
        </div>
        <div class="foot4">
            <p>About Volar</p>
        </div>
        <div class="foot5">
            <p>Phone</p>
            <p>E-mail</p>
            <p>Site map</p>
        </div>
        <div class="foot6">

        </div>
        <div class="foot7">
            <div>
                <img class="f0" src="/images/facebook_icon1.png" width="50%" height="70%">
            </div>
            <div>
                <img class="f1" src="/images/twitter_icon1.png" width="50%" height="70%">
            </div>
            <div>
                <img class="f2" src="/images/instagram_icon1.png" width="50%" height="70%">
            </div>
            <div>
                <img class="f3" src="/images/youtube_icon1.png" width="50%" height="70%">
            </div>
        </div>

    </div>
    <script>
        function scrollAppear() {
            var introtext = document.querySelectorAll('.intro-text');
            var introposition = introtext.getBoundingClientRect().top;
            var screenPosition = window.innerHeight / 1.2;
            if (introposition < screenPosition) {
                introtext.classList.add('appear-text');

            }


        }
        window.addEventListener('scroll', scrollAppear);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-input", {
            strings: ["Entertainment And Adventure"],
            typeSpeed: 100,
            backSpeed: 100,
            loop: false
        })
    </script>








</body>

</html>