<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main_div {
            background-color: #ffffff;
            height: 600px;
            width: 450px;
            margin: 65px 525px;
            border-radius: 20px;
            position: relative;
        }
        
        .log {
            color: #033249;
            text-align: center;
            font-size: x-large;
            position: absolute;
            top: 20px;
            left: 43%;
            font-weight: bold;
        }
        
        .Login {
            position: absolute;
            top: 100px;
            left: 20px;
            color: #033249;
            font-size: 23px;
        }
        
        .tb {
            height: 25px;
            width: 200px;
            border: 2px solid #033249;
            font-weight: bold;
        }
        
        .forgot {
            position: absolute;
            top: 155px;
            left: 247px;
            font-size: 18px;
            text-decoration: none;
            color: #033249;
        }
        
        .btn {
            position: absolute;
            height: 40px;
            width: 105px;
            top: 220px;
            left: 160px;
            font-size: 22px;
            color: #033249;
            border: 1px solid;
            border-radius: 8px;
        }
        
        a {
            text-decoration: none;
            color: #033249;
        }
        
        .btn:hover {
            background-color: #033249;
            color: #FFFFFF;
            cursor: pointer;
        }
        
        .line {
            position: absolute;
            top: 280px;
            left: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
        }
        
        .lines {
            border: 0px #033249;
            display: inline-block;
            width: 160px;
            height: 1px;
            background-color: #033249;
        }
        
        .grp1 {
            position: absolute;
            top: 330px;
            left: 55px;
        }
        
        .grp1a {
            position: absolute;
            height: 40px;
            width: 120px;
            font-size: 18px;
            border: 0;
            top: 7px;
            left: 12px;
            background-color: #d53636;
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .grp1b {
            position: absolute;
            top: 7px;
            left: 173px;
            height: 40px;
            width: 120px;
            font-size: 18px;
            border: 0;
            background-color: #4267b2;
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .grp2 {
            position: absolute;
            top: 390px;
            left: 55px;
        }
        
        .grp2a {
            position: absolute;
            height: 40px;
            width: 120px;
            font-size: 18px;
            border: 0;
            top: 7px;
            left: 12px;
            background-color: #0073b1;
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .grp2b {
            position: absolute;
            top: 7px;
            left: 173px;
            height: 40px;
            width: 120px;
            font-size: 18px;
            border: 0;
            background-color: rgba(0, 0, 0, .84);
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body bgcolor="#033249">
    <div class="main_div">
        <div class="log">
            <p>Login</p>
        </div>
        <div class="Login">
            <table cellspacing="20" align="centre" cellpadding="8" border="0">
                <tr>
                    <td>Username :</td>
                    <td><input type="text" placeholder="Enter your Username" id="email" class="tb" /></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" placeholder="Enter your password" id="pwd1" class="tb" /></td>
                </tr>
                <div class="forgot"><a href="#">Forgot Password?</a></div>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" onclick="Login()" class="btn" />
                    </td>
                </tr>
                <div class="line">
                    <div class="lines"></div>
                    <p display="inline">or</p>
                    <div class="lines"></div>
                </div>
                <div class="grp1">
                    <a href="https://www.google.com/account/about/"><button class="grp1a">Google</button></a>
                    <br>
                    <a href="https://www.facebook.com/login.php/"><button class="grp1b">Facebook</button></a>
                </div>
                <div class="grp2">
                    <a href="https://www.linkedin.com/login"><button class="grp2a">LinkedIn</button></a>
                    <br>
                    <a href="https://github.com/login"><button class="grp2b">GitHub</button></a>
                </div>
            </table>
        </div>
    </div>

    <script>
        function Login() {
            var uname = document.getElementById("email").value;
            var pwd = document.getElementById("pwd1").value;
            if (uname == '') {
                alert("please enter user name.");
            } else if (pwd == '') {
                alert("enter the password");
            } else if (pwd.length < 6 || pwd.length > 6) {
                alert("Password min and max length is 6.");
            } else {
                window.location.href = "Home2.html"
            }
        }
    </script>


</body>

</html>