<div class=one>
        <p1>Offers</p1>
        <a href="Accomodation.hbs">
            <p1>Accommodation</p1>
        </a>
        <p1>Profile</p1>
    </div>
    <div class=icon>
        <img src="/images/icon.png">
    </div>