<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .one {
        color: #FFFFFF;
        display: flex;
        float: right;
        gap: 30px;
        background-color: #033249;
        font-size: x-large;
        height: 100px;
        align-items: center;
        padding-right: 15px;
    }
    
    .img1 {
        margin-left: -8px;
        margin-right: -8px;
    }
    
    .list {
        font-size: 50px;
        color: #fff;
        margin-left: 450px;
    }
    
    .pack1 {
        background-color: #fff;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 12px;
        padding-left: 20px;
        padding-top: 19px;
        padding-bottom: 15px;
    }
    
    .hm {
        padding-bottom: -40px;
        display: flex;
        float: right;
        padding-right: 370px;
        font-size: 35px;
        top: 820px;
        padding-left: 460px;
        position: absolute;
    }
    
    .hm1 {
        margin-left: 465px;
        position: absolute;
        top: 930px;
        font-size: 19px;
    }
    
    .hm2 {
        margin-left: 723px;
        position: absolute;
        top: 930px;
        font-size: 19px;
    }
    
    .hm3 {
        border-left: 2px solid #C4C4C4;
        height: 300px;
        position: absolute;
        top: 840px;
        left: 1085px;
    }
    
    .hm4 {
        position: absolute;
        margin-top: -200px;
        margin-left: 960px;
        font-size: larger;
    }
    
    .hm5 {
        margin-left: 250px;
        background-color: #C4C4C4;
        margin-top: -50px;
        padding-left: 25px;
        padding-right: 8px;
        color: black;
        margin-right: 850px;
        padding-top: 1px;
        padding-bottom: 0.25px;
        position: relative;
        top: -20px;
        left: 730px;
        align-items: center;
        font-size: large;
        border-radius: 10px;
        width: 9%;
    }
    
    .pack2 {
        padding-top: 20px;
        padding-bottom: 18px;
        padding-left: 20px;
        background-color: #fff;
        margin-top: 50px;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 12px;
        z-index: -1;
    }
    
    .hm6 {
        padding-bottom: -40px;
        display: flex;
        float: right;
        padding-right: 370px;
        font-size: 35px;
        top: 1230px;
        padding-left: 594px;
        position: absolute;
    }
    
    .hm7 {
        margin-left: 605px;
        position: absolute;
        top: 1340px;
        font-size: 19px;
    }
    
    .hm8 {
        margin-left: 863px;
        position: absolute;
        top: 1340px;
        font-size: 19px;
    }
    
    .hm9 {
        border-left: 2px solid #C4C4C4;
        height: 300px;
        position: absolute;
        top: 1240px;
        left: 1085px;
    }
    
    .hm10 {
        position: absolute;
        margin-top: -220px;
        margin-left: 1100px;
        font-size: larger;
    }
    
    .hm11 {
        margin-left: 415px;
        background-color: #C4C4C4;
        margin-top: -50px;
        padding-left: 20px;
        padding-right: -3px;
        color: black;
        margin-right: 950px;
        padding-top: 1px;
        padding-bottom: 0.25px;
        position: relative;
        top: -40px;
        left: 700px;
        align-items: center;
        font-size: large;
        border-radius: 10px;
        width: 8%;
    }
    
    .pack3 {
        background-color: #fff;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 12px;
        padding-left: 20px;
        padding-top: 19px;
        padding-bottom: 15px;
        margin-top: 50px;
    }
    
    .hn {
        padding-bottom: -40px;
        display: flex;
        float: right;
        padding-right: 370px;
        font-size: 35px;
        top: 1650px;
        padding-left: 594px;
        position: absolute;
    }
    
    .hn1 {
        margin-left: 605px;
        position: absolute;
        top: 1750px;
        font-size: 19px;
    }
    
    .hn2 {
        margin-left: 860px;
        position: absolute;
        top: 1750px;
        font-size: 19px;
    }
    
    .hn3 {
        border-left: 2px solid #C4C4C4;
        height: 300px;
        position: absolute;
        top: 1660px;
        left: 1082px;
    }
    
    .hn4 {
        position: absolute;
        margin-top: -215px;
        margin-left: 1100px;
        font-size: larger;
    }
    
    .hn5 {
        margin-left: 415px;
        background-color: #C4C4C4;
        margin-top: -50px;
        padding-left: 20px;
        padding-right: -3px;
        color: black;
        margin-right: 950px;
        padding-top: 1px;
        padding-bottom: 0.25px;
        position: relative;
        top: -40px;
        left: 700px;
        align-items: center;
        font-size: large;
        border-radius: 10px;
        width: 8%;
    }
    
    .pack4 {
        background-color: #fff;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 12px;
        padding-left: 20px;
        padding-top: 19px;
        padding-bottom: 15px;
        margin-top: 50px;
    }
    
    .hn6 {
        padding-bottom: -40px;
        display: flex;
        float: right;
        padding-right: 370px;
        font-size: 35px;
        top: 2080px;
        padding-left: 594px;
        position: absolute;
    }
    
    .hn7 {
        margin-left: 605px;
        position: absolute;
        top: 2180px;
        font-size: 19px;
    }
    
    .hn8 {
        margin-left: 860px;
        position: absolute;
        top: 2180px;
        font-size: 19px;
    }
    
    .hn9 {
        border-left: 2px solid #C4C4C4;
        height: 300px;
        position: absolute;
        top: 2072px;
        left: 1082px;
    }
    
    .hn10 {
        position: absolute;
        margin-top: -215px;
        margin-left: 1100px;
        font-size: larger;
    }
    
    .hn11 {
        margin-left: 415px;
        background-color: #C4C4C4;
        margin-top: -50px;
        padding-left: 20px;
        padding-right: -3px;
        color: black;
        margin-right: 950px;
        padding-top: 1px;
        padding-bottom: 0.25px;
        position: relative;
        top: -40px;
        left: 700px;
        align-items: center;
        font-size: large;
        border-radius: 10px;
        width: 8%;
    }
    
    .pack5 {
        background-color: #fff;
        margin-left: 120px;
        margin-right: 120px;
        border-radius: 12px;
        padding-left: 20px;
        padding-top: 19px;
        padding-bottom: 15px;
        margin-top: 50px;
    }
    
    .hj {
        padding-bottom: -40px;
        display: flex;
        float: right;
        padding-right: 370px;
        font-size: 35px;
        top: 2500px;
        padding-left: 594px;
        position: absolute;
    }
    
    .hj1 {
        margin-left: 605px;
        position: absolute;
        top: 2600px;
        font-size: 19px;
    }
    
    .hj2 {
        margin-left: 860px;
        position: absolute;
        top: 2600px;
        font-size: 19px;
    }
    
    .hj3 {
        border-left: 2px solid #C4C4C4;
        height: 300px;
        position: absolute;
        top: 2500px;
        left: 1082px;
    }
    
    .hj4 {
        position: absolute;
        margin-top: -215px;
        margin-left: 1100px;
        font-size: larger;
    }
    
    .hj5 {
        margin-left: 415px;
        background-color: #C4C4C4;
        margin-top: -50px;
        padding-left: 20px;
        padding-right: -3px;
        color: black;
        margin-right: 950px;
        padding-top: 1px;
        padding-bottom: 0.25px;
        position: relative;
        top: -40px;
        left: 700px;
        align-items: center;
        font-size: large;
        border-radius: 10px;
        width: 8%;
    }
    
    .footer {
        background-color: #467181;
        height: 300px;
        margin: -7px;
    }
    
    .foot1 {
        font-size: 20px;
        display: flex;
        gap: 13%;
        padding-left: 50px;
        padding-right: 25px;
        padding-top: 20px;
        font-style: Redrose;
    }
    
    .foot2 {
        font-size: 18px;
        color: black;
        padding-left: 50px;
    }
    
    .foot3 {
        font-size: 18px;
        color: black;
        margin-left: 300px;
        top: -155px;
        position: relative;
        z-index: 1;
    }
    
    .foot4 {
        font-size: 18px;
        color: black;
        margin-left: 630px;
        top: -270px;
        position: relative;
        z-index: 2;
    }
    
    .foot5 {
        font-size: 18px;
        color: black;
        margin-left: 915px;
        top: -310px;
        position: relative;
        z-index: 3;
    }
    
    .foot6 {
        font-size: 18px;
        color: black;
        margin-left: 1250px;
        top: -425px;
        position: relative;
        z-index: 4;
    }
    
    .foot7 {
        margin-left: 1150px;
        top: -420px;
        position: relative;
        z-index: 5;
        display: flex;
    }
    
    .f0 {
        border-radius: 10px;
    }
    
    .f1 {
        border-radius: 10px;
    }
    
    .f2 {
        border-radius: 10px;
    }
    
    .f3 {
        border-radius: 10px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
</style>

<body bgcolor="#033249">
    <div class=one>
        <p>Offers</p>
        <p>Accommodation</p>
        <p>My Account</p>
    </div>
    <div class=icon>
        <a href="/views/Home2.hbs"><img src="/images/icon.png"></a>
    </div>
    </a>
    <div class="img1">
        <img src="/images/resort_1.webp" width="100%" height="550px">
    </div>
    <div class=list>
        <p>LIST OF GOA PACKAGES</p>
    </div>
    <div class="pack1">
        <img src="/images/pack1.jpg">
        <div class="hm">
            <p>GOA HONEYMOON TOUR</p>
        </div>
        <div class="hm1">
            <p><b>Places-Covered:</b><br> Beach Mangueshi Temple <br>Calangute Beach<br> Cathredal Church<br>Casino</p>
        </div>
        <div class="hm2">
            <p><b>Duration:</b>&nbsp;3 Days<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Nights</p>
        </div>
        <div class="hm3"></div>
        <div class="hm4">Get This Package just for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$120</div>
        <div class="hm5">
            <p>BOOK NOW</p>
        </div>
    </div>
    <div class="pack2">
        <img src="/images/pack2.jpg" width="400px" height="320px">
    </div>
    <div class="hm6">
        <p>3 DAYS TRIP TO GOA</p>
    </div>
    <div class="hm7">
        <p><b>Places-Covered:</b><br> Beach Mangueshi Temple <br>Calangute Beach<br>Se Cathredal Church<br>Casino</p>
    </div>
    <div class="hm8">
        <p><b>Duration:</b>&nbsp;2 Days<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 Nights</p>
    </div>
    <div class="hm9"></div>
    <div class="hm10">Get This Package just for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$90</div>

    <div class="hm11">
        <p>BOOK NOW</p>
    </div>

    </div>
    <div class="pack3">
        <img src="/images/pack3.jpg" width="400px" height="320px">
    </div>
    <div class="hn">
        <p>FLIRTATIONSHIP IN GOA</p>
    </div>
    <div class="hn1">
        <p><b>Places-Covered:</b><br> Marina Beach <br>Calangute Beach<br> Bombay Beach<br>Casino</p>
    </div>
    <div class="hn2">
        <p><b>Duration:</b>&nbsp;3 Days<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 Nights</p>
    </div>
    <div class="hn3"></div>
    <div class="hn4">Get This Package just for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$100</div>
    <div class="hn5">
        <p>BOOK NOW</p>
    </div>

    </div>
    <div class="pack4">
        <img src="/images/pack4.png" width="400px" height="320px">
    </div>
    <div class="hn6">
        <p>DELIGHTFUL GOA</p>
    </div>
    <div class="hn7">
        <p><b>Places-Covered:</b><br> Mangeskar Pool <br>Lava Beach<br> Butterfly Beach<br>Casino<br>Etc..</p>
    </div>
    <div class="hn8">
        <p><b>Duration:</b>&nbsp;6 Days<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 Nights</p>
    </div>
    <div class="hn9"></div>
    <div class="hn10">Get This Package just for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$200</div>

    <div class="hn11">
        <p>BOOK NOW</p>
    </div>

    </div>
    <div class="pack5">
        <img src="/images/pack5.jpg" width="400px" height="320px">
    </div>
    <div class="hj">
        <p>NORTH AND SOUTH GOA</p>
    </div>
    <div class="hj1">
        <p><b>Places-Covered:</b><br> Marina Beach <br>Calangute Beach<br> Bombay Beach<br>Casino</p>
    </div>
    <div class="hj2">
        <p><b>Duration:</b>&nbsp;8 Days<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7 Nights</p>
    </div>
    <div class="hj3"></div>
    <div class="hj4">Get This Package just for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$300</div>

    <div class="hj5">
        <p>BOOK NOW</p>
    </div>
    <br>
    <br>
    <br>
    <div class="footer">
        <div class="foot1">
            <p>HOME</p>
            <p>TERMS & POLICY</p>
            <a href="abt.html" class="black">
                <p>ABOUT US</p>
            </a>
            <p>CONTACT US</p>
            <p>CONNECT WITH US</p>
        </div>
        <div class="foot2">
            <p>Beaches</p>
            <p>Entertainment</p>
            <p>Religious Sites</p>
            <p>Accommodation</p>
        </div>
        <div class="foot3">
            <p>Privacy Policy</p>
            <p>Cancellation Policy</p>
            <p>FAQ'S</p>
        </div>
        <div class="foot4">
            <p>About Volar</p>
        </div>
        <div class="foot5">
            <p>Phone</p>
            <p>E-mail</p>
            <p>Site map</p>
        </div>
        <div class="foot6">

        </div>
        <div class="foot7">
            <div>
                <img class="f0" src="/images/facebook_icon1.png" width="50%" height="70%">
            </div>
            <div>
                <img class="f1" src="/images/twitter_icon1.png" width="50%" height="70%">
            </div>
            <div>
                <img class="f2" src="/images/instagram_icon1.png" width="50%" height="70%">
            </div>
            <div>
                <img class="f3" src="/images/youtube_icon1.png" width="50%" height="70%">
            </div>
        </div>


    </div>

</body>

</html>